@import url('https://fonts.cdnfonts.com/css/code-new-roman-2');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');  

* {
  font-family: 'Code New Roman', sans-serif;
  color: #fff;
  text-decoration: none;
  list-style: none;
}
body {
  background: rgb(28,17,57);
  background: linear-gradient(90deg, rgba(28,17,57,1) 14%, rgba(9,5,17,1) 74%);
}

header.navbar-container {
  display: flex;
  justify-content: space-around;
  margin: -10px;
}

header h2 {
  font-size: 30px;
  
}

ul#navbar-links {
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

ul#navbar-links:hover {
  color: green;
}


section {
  display: flex;
  justify-content: space-between;
}

div.container-left {
  margin-top: 30px;
  width: 650px;
  margin-left: 60px;
}

h1#main-text {

  font-size: 40px;  
  width: 800px;
  border-left: 4px solid  rgb(98, 55, 208);
  padding-left: 20px;
}

#main-text::after {
  content: '|';
  margin-left: 5px;
  animation: blink 0.90s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div.sub-text {
 padding-left: 25px;
}

div.container-right {
  margin-right: 60px;

}

div.links-container-right {
  display: flex;
  justify-content: space-around;
  width: 450px;
}

div.links-container-right a {
  font-size: 20px;
  
}

div.links-container-right a:hover {
  color: rgb(98, 55, 208);
  
}

div.button-container {
  width: 800px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 70px;
}

div button.buttons {
  background-color: black;
  padding: 10px;
}

div.button-container button {
  font-size: 30px;
  width: 300px;
  height: 70px;
  background: rgb(157, 119, 253);
  background: linear-gradient(90deg, rgb(98, 55, 208) 14%, rgb(54, 30, 106) 74%);
  cursor: pointer;
  border: none;
  border-radius: 6px 6px 6px 6px;
}

div.button-container button:hover {
  width: 310px;
  height: 75px;
  background-color: rgb(143, 99, 194);
  font-size: 30px;
}

div.taxa-container {
  position: absolute;
  background-color:#121212;
  border-radius: 2rem 2rem 2rem 2rem;
  padding: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.859);
  width:600px;
  height: 500px;
  max-width: 100%;
  margin-left: 100px;
  margin-top: -70px;
}

div.main-text {

  margin-top: -35px;
  font-size: 20px; 
}

div.basal-form-control {
  padding: 15px;
  position: relative;
  margin-left: -10px;
}

div.basal-form-control label {
  display: inline-block;
  margin-bottom: 10px;
}

div.basal-form-control input {
  background-color: #121212;
  border: 3px solid #5b22df;
  display: block;
  border-radius: 2rem 2rem 2rem 2rem;
  width: 550px;
  padding: 7px;
  margin-bottom: 7px;
  font-size: 15px;
}

div.basal-form-control  i {
  position: absolute;
  top: 46px;
  right: 40px;
  visibility: hidden;
}

button#buttonTaxaBasal {
  display: flex;
  position: relative;
  left: 150px;
  top: 18px;
  background: rgb(157, 119, 253);
  background: linear-gradient(90deg, rgb(98, 55, 208) 14%, rgb(54, 30, 106) 74%);
  padding: 13px;
  font-size: 15px;
  border: none;
  border-radius: 2rem 2rem 2rem 2rem;
  cursor: pointer;
}

div.container {
  position: absolute;
  background-color:#121212;
  border-radius: 2rem 2rem 2rem 2rem;
  padding: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.859);
  width:600px;
  height: 500px;
  max-width: 100%;
  margin-left: 100px;
  margin-top: -70px;
}

div.header {

  margin-top: -35px;
  font-size: 20px; 
}

div.form-control {
  padding: 15px;
  position: relative;
  margin-left: -10px;
}

div.form-control label {
  display: inline-block;
  margin-bottom: 10px;
}

div.form-control input {
  background-color: #121212;
  border: 3px solid #5b22df;
  display: block;
  border-radius: 2rem 2rem 2rem 2rem;
  width: 550px;
  padding: 7px;
  margin-bottom: 7px;
  font-size: 15px;
}

div.form-control i {
  position: absolute;
  top: 46px;
  right: 40px;
  visibility: hidden;
}

button#submit-gpt {
  display: flex;
  position: relative;
  left: 180px;
  top: 18px;
  background: rgb(157, 119, 253);
  background: linear-gradient(90deg, rgb(98, 55, 208) 14%, rgb(54, 30, 106) 74%);
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 2rem 2rem 2rem 2rem;
  cursor: pointer;
}